h1 {
  font-family: Lato;
  background: blueviolet;
  width: 300px;
  height: 100px;
  border-radius: 30%;
  text-decoration: solid;
  text-align: center;
  margin-top: auto;
}

h2 {
  text-align: center;
  color: black;
}
p {
color: red;
text-align: center;

}